@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: #1a2352;
  --red: #bb0505;
  --orange: #7b519e;
  --green: #498e54;
  --light-color: #888;
  --light-bg: #eee;
  --black: #2c3e50;
  --white: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

* {
  font-family: "Mitr", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

body {
  background-color: var(--light-bg);
  padding-left: 30rem;
}

body.dark {
  --light-color: #aaa;
  --light-bg: #333;
  --black: #fff;
  --white: #222;
  --border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

body.active {
  padding-left: 0;
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.heading {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 2.5rem;
  border-bottom: var(--border);
  padding-bottom: 1.5rem;
  text-transform: capitalize;
}

.inline-btn,
.ans-btn,
.ans-btn-two,
.ans-btn-login,
.ans-btn-detail,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn {
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: capitalize;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 1rem;
}

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
}

.inline-btn,
.ans-btn,
.inline-option-btn,
.inline-delete-btn {
  display: inline-block;
}

.ans-btn-two {
  display: inline-block;
}

.ans-btn-detail {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.ans-btn-login-container {
  text-align: center;
}

.ans-btn-login {
  display: inline-block;
}

.btn,
.inline-btn {
  background-color: var(--main-color);
  border-radius: 20px;
}

.ans-btn {
  background-color: var(--green);
  border-radius: 20px;
}

.ans-btn-two {
  background-color: var(--green);
  border-radius: 20px;
}

.ans-btn-detail,.ans-btn-login {
  background-color: var(--green);
  border-radius: 20px;
}

.option-btn,
.inline-option-btn {
  background-color: var(--orange);
  border-radius: 20px;
}

.delete-btn,
.inline-delete-btn {
  background-color: var(--red);
  border-radius: 20px;
}

.inline-btn:hover,
.ans-btn:hover,
.ans-btn-two:hover,
.ans-btn-login:hover,
.ans-btn-detail:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background-color: var(--black);
  color: var(--white);
  border-radius: 20px;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  z-index: 1000;
  border-bottom: var(--border);
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .icons div {
  font-size: 2rem;
  color: var(--black);
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  cursor: pointer;
  text-align: center;
  margin-left: 0.7rem;
}

.header .flex .icons div:hover {
  background-color: var(--black);
  color: var(--white);
}

.header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1.5rem;
  text-align: center;
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.2s linear;
  width: 30rem;
  box-shadow: 2px 2px 4px #b4b4b4;
}

.header .flex .profile.active {
  transform: scale(1);
}

.header .flex .profile .image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.header .flex .profile .name {
  font-size: 2rem;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .flex .profile .role {
  font-size: 1.8rem;
  color: var(--light-color);
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  background-color: var(--white);
  height: 100vh;
  border-right: var(--border);
  z-index: 1200;
  transition: 0.4s ease-in-out;
}

.side-bar .profile {
  padding: 3rem 2rem;
  text-align: center;
}

.side-bar .profile .image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.side-bar .profile .name {
  font-weight: 400;
  font-size: 2rem;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-bar .profile .role {
  font-size: 1.8rem;
  color: var(--light-color);
}

.side-bar .navbar a {
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.side-bar .navbar a i {
  margin-right: 1.5rem;
  color: var(--main-color);
  transition: 0.2s linear;
}

.side-bar .navbar a span {
  font-weight: 400;
  color: var(--light-color);
}

.side-bar .navbar a:hover {
  background-color: var(--light-bg);
  font-style: italic;
}

.side-bar .navbar a:hover i {
  margin-right: 2rem;
}

.side-bar.active {
  left: -30rem;
}

.course .btnbox {
  /* align-items: right; */
  float: right;
}
.courses .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.courses .box-container .box {
  border-radius: 25px;
  background-color: var(--white);
  padding: 2rem;

  /* &:hover,
  &:focus-within {
    box-shadow: 2px 2px 4px #b4b4b4;
    transform: translatey(-5px);
    transition: 0.2s linear;
  } */
}

.courses .box-container .box .tutor {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.courses .box-container .box .tutor img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.courses .box-container .box .tutor h3 {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--black);
  margin-bottom: 0.2rem;
}

.courses .box-container .box .tutor span {
  font-size: 1.3rem;
  color: var(--light-color);
}

.courses .box-container .box .info span {
  font-size: 1.3rem;
  color: var(--black);
}

.courses .box-container .box .info .price {
  font-size: 1.7rem;
  color: var(--red);
  font-weight: 500;
}

.courses .box-container .box p {
  font-size: 1.3rem;
  color: var(--light-color);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.courses .box-container .box .title {
  font-weight: 500;
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.questions .box-container {
  display: grid;
  gap: 2.5rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 25px;
}

.questions .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.questions .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.questions .box-container .box .user h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.2rem;
}

.questions .box-container .box .user span {
  font-size: 1.5rem;
  color: var(--light-color);
}

.questions .box-container .box .question-box {
  border-radius: 20px;
  background-color: var(--light-bg);
  padding: 1rem 1.5rem;
  white-space: pre-line;
  margin: 0.5rem 0;
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1.5;
  position: relative;
  z-index: 0;
}

.questions .box-container .box .question-box::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 1.5rem;
  background-color: var(--light-bg);
  height: 1.2rem;
  width: 2rem;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.questions .add-answer {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.questions .add-answer h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1rem;
}

.questions .add-answer textarea {
  height: 20rem;
  resize: none;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
  margin: 0.5rem 0;
}
/* ฟ้อน --------------------------------------------------------------------------------------------------------------------------------------------- */

.form-container {
  min-height: calc(100vh - 23rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 500rem;
}

.form-container form h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #2c3e50;
  padding-top: 1rem;
  text-align: center;
}

.form-container form p {
  font-size: 1.7rem;
  color: var(--light-color);
  padding-top: 1rem;
}

.form-container form p span {
  color: var(--red);
}

.form-container form .box {
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  padding: 1.4rem;
  background-color: var(--light-bg);
  width: 100%;
  margin: 1rem 0;
}

.container .top-detail h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #2c3e50;
  padding-top: 1rem;
}

.container .top-detail h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #2c3e50;
  padding-top: 1rem;
}

.container .detail p {
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  color: #606873;
  padding-top: 1rem;
}

.container .details h3 {
  font-size: 2rem;
  font-weight: 5000;
  color: var(--black);
  padding-top: 1rem;
}

.container .details p {
  font-size: 1.7rem;
  color: var(--light-color);
  padding-top: 1rem;
}

.review-box .review-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #606873;
  padding-top: 1rem;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 8% auto;
  padding: 2%;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  /* transition: all 5s ease-in-out; */
}

.popup h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--black);
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #bb212e;
}
.popup .content {
  max-height: 30%;
  
}

/* qr norgor ---------------------------------------------------------------------------------------------------------------------------------------------*/
.container-qr {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-qr h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #2c3e50;
  padding-top: 1rem;
  text-align: center;
}

.qr-code {
  text-align: center;
  margin-bottom: px;
}

.qr-code img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-details {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 8px;
}

.payment-details h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: #2c3e50;
  padding-top: 1rem;
}

.payment-details ul {
  list-style-type: none;
  padding: 0;
}

.payment-details li {
  font-size: 16px;
  margin-bottom: 5px;
}

.payment-details li strong {
  font-weight: 500;
  color: #5d77ac; /* เปลี่ยนสีตัวหนาเป็นสีน้ำเงิน */
}

/* succeed norgor---------------------------------------------------------------------------------------------------------------------------------------------*/
.container-succeed {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-success h1 {
  color: #28a745;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.payment-success p {
  color: #333;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #2c3e50;
  padding-top: 1rem;
}

.payment-success p:last-child {
  margin-bottom: 0;
}

/* detail norgor---------------------------------------------------------------------------------------------------------------------------------------------*/

.top-detail,
.detail,
.img,
.details,
.review-box {
    text-align: center;
    margin-bottom: 20px;
    
}

.top-detail h2,
.detail h2,
.img img,
.user-name,
.review-text p,
.details h1,
.details h2 {
    background-color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
}

.img img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}

.details .img-leg img{
  max-width: 30%;
  height: auto;
  border-radius: 8px;
}


.review-box {
    background-color: #324a5e;
    padding: 10px;
    border-radius: 8px;
}

.user-name {
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  color: #2c3e50;
  padding-top: 1rem;
}

.review-text p {
    font-size: 16px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* uploadbill norgor----------------------------------------------------------- */

/* *** */
.bannerdetail h1 {
  font-style: normal;
  font-size: 4rem;
  color: #2c3e50;
  padding-top: 1rem;
  text-align: center;
}

.bannerdetail h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  color: #606873;
  padding-top: 1rem;
  text-align: center;
}


.form-group-slip {
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  color: #606873;
  padding-top: 1rem;
} 

/* banner norgor------------------------------------------------------------ */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



/* banner norgor 2 ------------------------------------------- */


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.desc {
  background-color: #e1e1e2;
  padding: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  color:  #324a5e;
}

.desc h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.gallery:hover img {
  opacity: 0.7;
  transition: opacity 0.3s;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1200px) {
  body {
    padding-left: 0;
  }

  .side-bar {
    left: -30rem;
    transition: 0.2s linear;
  }

  .side-bar #close-btn {
    display: block;
  }

  .side-bar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    border-right: 0;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    gap: 0;
    flex-flow: column;
  }

  .home-grid .box-container {
    grid-template-columns: 1fr;
  }

  .about .row .image img {
    height: 25rem;
  }
}
